In [377]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import numpy as np
import bls
import requests
#from config import api_key
from pprint import pprint
import numpy as np
import json
import pymysql
#pymysql.install_as_MySQLdb()

In [378]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [379]:
from sqlalchemy import Column, Integer, String, Float
class Denver_County(Base):
    __tablename__ = 'Denver_County'
    id = Column(Integer, primary_key=True)
    Year = Column(Integer)
    Colorado_County = Column(String(100))
    Industry = Column(String(100))
    Average_Employees = Column(Integer)
    Average_Weekly_Wage = Column(Integer)

class Denver_Metro_Quarters(Base):
    __tablename__ = "Denver_Metro_Quarters"
    quarters_id = Column(Integer, primary_key=True)
    date = Column(Integer)
    Goods_Producing = Column(Integer)
    Professional_and_Business_Services = Column(Integer)
    Education_and_Health_Services = Column(Integer)
    Government = Column(Integer)
    Leisure_and_Hospitality = Column(Integer)
    
class Denver_Metro_Year(Base):
    __tablename__ = "Denver_Metro_Year"
    year_id = Column(Integer, primary_key=True)
    Year = Column(Integer)
    Goods_Producing = Column(Integer)
    Professional_and_Business_Services_per_Year = Column(Integer)
    Education_and_Health_Services_per_Year = Column(Integer)
    Government_per_Year = Column(Integer)
    Leisure_and_Hospitality_per_Year = Column(Integer)
    

    
    def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s')>" % (
                             self.name, self.fullname, self.password)

https://dev.socrata.com/docs/queries/
    
https://en.wikipedia.org/wiki/Percent-encoding
    
https://support.socrata.com/hc/en-us/articles/202949268-How-to-query-more-than-1000-rows-of-a-dataset

In [380]:
api_token = "0NioglQlaWvMJH7DwY2AnAaxFs_kom0chW4_"
url = "https://data.colorado.gov/resource/iaz7-gn2p.json?$$app_token=api&pertypdesc=Annual&$where=areaname='Denver County'&$order=periodyear DESC&$limit=50000"
response_url = requests.get(url)
r_json = response_url.json()
df_json = pd.DataFrame(r_json)

In [381]:
engine = create_engine("mysql+pymysql://root:007326@localhost:3306/Denver_industry")

In [382]:
conn = engine.connect()

In [383]:
Base.metadata.create_all(engine)

In [384]:
#df_json.columns

In [385]:
Colorado_data = df_json[["areaname",'codetitle','avgemp', 'avgwkwage','periodyear']]

Colorado_data = Colorado_data.rename(columns={"areaname": "Colorado_County",
                                             "codetitle": "Industry",
                                             "avgemp": "Average_Employees",
                                             "avgwkwage": "Average_Weekly_Wage",
                                             "periodyear": "Year"})

In [386]:
Denver_County = Colorado_data.set_index('Year')
#DC = Colorado_data.set_index('Year')
#Denver_County = DC.reset_index()
Denver_County.head()

,Colorado_County,Industry,Average_Employees,Average_Weekly_Wage
Year,,,,
2017,Denver County,Transportation and Warehousing,3824,1248
2017,Denver County,"Total, All Industries and Ownerships",69844,1274
2017,Denver County,"Total, All Industries",436179,1305
2017,Denver County,Administrative and Waste Services,35418,787
2017,Denver County,Private Households,1385,511

In [387]:
#TEST WAS USED AFTER COLORADO DATA FAILED
Denver_County.to_sql("denver_county",engine,if_exists="append")

# If you don't pip install bls it wont run
https://www.bls.gov/help/hlpforma.htm#OE THis is how to constuct the codes below. Many dont haved any behind them, you learn by trial and error.

In [388]:
get_denver = bls.get_series(["SMU08197400600000001",
                             "SMU08197406000000001",
                             "SMU08197406500000001",
                             "SMU08197409000000001",
                             "SMU08197407000000001"],2007, 2017, api)

In [401]:
denver_earnings = get_denver.rename(columns={"SMU08197400600000001": "Goods_Producing",
                                             "SMU08197406000000001": "Professional_and_Business_Services",
                                             "SMU08197406500000001": "Education_and_Health_Services",
                                             "SMU08197407000000001": "Leisure_and_Hospitality",
                                             "SMU08197409000000001": "Government"})

In [402]:
#get rid of stupid 1000's formatting
denver_mil = denver_earnings*1000
#flip it for easy groupby and sort
denver_mil_t = denver_mil.T

In [403]:
pray = (denver_mil_t.groupby(pd.PeriodIndex(denver_mil_t.columns, freq='Q'), axis=1)
                  .sum()
                  .rename(columns=lambda c: str(c).upper()))

In [404]:
denver_q = pray.T
DMQ = denver_q.reset_index()

In [410]:
Denver_Metro_Quarters = DMQ.sort_values("date",ascending=False)
Denver_Metro_Quarters.reset_index(drop=True, inplace=True)


Denver_Metro_Quarters.columns
Denver_Metro_Quarters = Denver_Metro_Quarters.set_index('date')

In [411]:
pray_year = (denver_mil_t.groupby(pd.PeriodIndex(denver_mil_t.columns, freq='Y'), axis=1)
                  .sum()
                  .rename(columns=lambda c: str(c).upper()))
pray_year = pray_year.sort_values("2007",ascending=False)
denver_year = pray_year.T
DMY = denver_year.reset_index()
Denver_Metro_Year = DMY.sort_values("date",ascending=False)
Denver_Metro_Year.reset_index(drop=True, inplace=True)

In [412]:
Denver_Metro_Year = Denver_Metro_Year.rename(columns={"date": "Year",
                                             "Professional and Business Services": "Professional_and_Business_Services_per_Year",
                                             "Government": "Government_per_Year",
                                             "Goods Producing": "Goods_Producing_per_Year",
                                             "Education and Health Services": "Education_and_Health_Services_per_Year"})

In [413]:
Denver_Metro_Year = Denver_Metro_Year.set_index('Year')

In [ ]:
Denver_Metro_Year.to_sql("denver_metro_years",engine,if_exists="append")

In [ ]:
Denver_Metro_Quarters.to_sql("denver_metro_quarters",engine,if_exists="append")