In [377]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import numpy as np
import bls
import requests
#from config import api_key
from pprint import pprint
import numpy as np
import json
import pymysql
#pymysql.install_as_MySQLdb()

api = 'a459ff69f6404e5089d9ef92e0f27bd7'

In [378]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [379]:
from sqlalchemy import Column, Integer, String, Float
class Denver_County(Base):
    __tablename__ = 'Denver_County'
    id = Column(Integer, primary_key=True)
    Year = Column(Integer)
    Colorado_County = Column(String(100))
    Industry = Column(String(100))
    Average_Employees = Column(Integer)
    Average_Weekly_Wage = Column(Integer)

class Denver_Metro_Quarters(Base):
    __tablename__ = "Denver_Metro_Quarters"
    quarters_id = Column(Integer, primary_key=True)
    date = Column(Integer)
    Goods_Producing = Column(Integer)
    Professional_and_Business_Services = Column(Integer)
    Education_and_Health_Services = Column(Integer)
    Government = Column(Integer)
    Leisure_and_Hospitality = Column(Integer)
    
class Denver_Metro_Year(Base):
    __tablename__ = "Denver_Metro_Year"
    year_id = Column(Integer, primary_key=True)
    Year = Column(Integer)
    Goods_Producing = Column(Integer)
    Professional_and_Business_Services_per_Year = Column(Integer)
    Education_and_Health_Services_per_Year = Column(Integer)
    Government_per_Year = Column(Integer)
    Leisure_and_Hospitality_per_Year = Column(Integer)
    

    
    def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s')>" % (
                             self.name, self.fullname, self.password)

https://dev.socrata.com/docs/queries/
    
https://en.wikipedia.org/wiki/Percent-encoding
    
https://support.socrata.com/hc/en-us/articles/202949268-How-to-query-more-than-1000-rows-of-a-dataset

In [380]:
api_token = "0NioglQlaWvMJH7DwY2AnAaxFs_kom0chW4_"
url = "https://data.colorado.gov/resource/iaz7-gn2p.json?$$app_token=09ZkYXDgx7aazd5PAGfep3bDt&pertypdesc=Annual&$where=areaname='Denver County'&$order=periodyear DESC&$limit=50000"
response_url = requests.get(url)
r_json = response_url.json()
df_json = pd.DataFrame(r_json)

In [381]:
engine = create_engine("mysql+pymysql://root:007326@localhost:3306/Denver_industry")

In [382]:
conn = engine.connect()

In [383]:
Base.metadata.create_all(engine)

In [384]:
#df_json.columns

In [385]:
Colorado_data = df_json[["areaname",'codetitle','avgemp', 'avgwkwage','periodyear']]

Colorado_data = Colorado_data.rename(columns={"areaname": "Colorado_County",
                                             "codetitle": "Industry",
                                             "avgemp": "Average_Employees",
                                             "avgwkwage": "Average_Weekly_Wage",
                                             "periodyear": "Year"})

In [386]:
Denver_County = Colorado_data.set_index('Year')
#DC = Colorado_data.set_index('Year')
#Denver_County = DC.reset_index()
Denver_County.head()

,Colorado_County,Industry,Average_Employees,Average_Weekly_Wage
Year,,,,
2017,Denver County,Transportation and Warehousing,3824,1248
2017,Denver County,"Total, All Industries and Ownerships",69844,1274
2017,Denver County,"Total, All Industries",436179,1305
2017,Denver County,Administrative and Waste Services,35418,787
2017,Denver County,Private Households,1385,511

In [387]:
#TEST WAS USED AFTER COLORADO DATA FAILED
Denver_County.to_sql("denver_county",engine,if_exists="append")

# If you don't pip install bls it wont run
https://www.bls.gov/help/hlpforma.htm#OE THis is how to constuct the codes below. Many dont haved any behind them, you learn by trial and error.

In [388]:
get_denver = bls.get_series(["SMU08197400600000001",
                             "SMU08197406000000001",
                             "SMU08197406500000001",
                             "SMU08197409000000001",
                             "SMU08197407000000001"],2007, 2017, api)

In [401]:
denver_earnings = get_denver.rename(columns={"SMU08197400600000001": "Goods_Producing",
                                             "SMU08197406000000001": "Professional_and_Business_Services",
                                             "SMU08197406500000001": "Education_and_Health_Services",
                                             "SMU08197407000000001": "Leisure_and_Hospitality",
                                             "SMU08197409000000001": "Government"})

In [402]:
#get rid of stupid 1000's formatting
denver_mil = denver_earnings*1000
#flip it for easy groupby and sort
denver_mil_t = denver_mil.T

In [403]:
pray = (denver_mil_t.groupby(pd.PeriodIndex(denver_mil_t.columns, freq='Q'), axis=1)
                  .sum()
                  .rename(columns=lambda c: str(c).upper()))

In [404]:
denver_q = pray.T
DMQ = denver_q.reset_index()

In [410]:
Denver_Metro_Quarters = DMQ.sort_values("date",ascending=False)
Denver_Metro_Quarters.reset_index(drop=True, inplace=True)


Denver_Metro_Quarters.columns
Denver_Metro_Quarters = Denver_Metro_Quarters.set_index('date')

In [411]:
pray_year = (denver_mil_t.groupby(pd.PeriodIndex(denver_mil_t.columns, freq='Y'), axis=1)
                  .sum()
                  .rename(columns=lambda c: str(c).upper()))
pray_year = pray_year.sort_values("2007",ascending=False)
denver_year = pray_year.T
DMY = denver_year.reset_index()
Denver_Metro_Year = DMY.sort_values("date",ascending=False)
Denver_Metro_Year.reset_index(drop=True, inplace=True)

In [412]:
Denver_Metro_Year = Denver_Metro_Year.rename(columns={"date": "Year",
                                             "Professional and Business Services": "Professional_and_Business_Services_per_Year",
                                             "Government": "Government_per_Year",
                                             "Goods Producing": "Goods_Producing_per_Year",
                                             "Education and Health Services": "Education_and_Health_Services_per_Year"})

In [413]:
Denver_Metro_Year = Denver_Metro_Year.set_index('Year')

In [414]:
Denver_Metro_Quarters.to_sql("denver_metro_quarters",engine,if_exists="append")

DataError: (pymysql.err.DataError) (1265, "Data truncated for column 'date' at row 1") [SQL: 'INSERT INTO denver_metro_quarters (date, `Goods_Producing`, `Professional_and_Business_Services`, `Education_and_Health_Services`, `Government`, `Leisure_and_Hospitality`) VALUES (%(date_m0)s, %(Goods_Producing_m0)s, %(Professional_and_Business_Services_m0)s, %(Education_and_Health_Services_m0)s, %(Government_m0)s, %(Leisure_and_Hospitality_m0)s), (%(date_m1)s, %(Goods_Producing_m1)s, %(Professional_and_Business_Services_m1)s, %(Education_and_Health_Services_m1)s, %(Government_m1)s, %(Leisure_and_Hospitality_m1)s), (%(date_m2)s, %(Goods_Producing_m2)s, %(Professional_and_Business_Services_m2)s, %(Education_and_Health_Services_m2)s, %(Government_m2)s, %(Leisure_and_Hospitality_m2)s), (%(date_m3)s, %(Goods_Producing_m3)s, %(Professional_and_Business_Services_m3)s, %(Education_and_Health_Services_m3)s, %(Government_m3)s, %(Leisure_and_Hospitality_m3)s), (%(date_m4)s, %(Goods_Producing_m4)s, %(Professional_and_Business_Services_m4)s, %(Education_and_Health_Services_m4)s, %(Government_m4)s, %(Leisure_and_Hospitality_m4)s), (%(date_m5)s, %(Goods_Producing_m5)s, %(Professional_and_Business_Services_m5)s, %(Education_and_Health_Services_m5)s, %(Government_m5)s, %(Leisure_and_Hospitality_m5)s), (%(date_m6)s, %(Goods_Producing_m6)s, %(Professional_and_Business_Services_m6)s, %(Education_and_Health_Services_m6)s, %(Government_m6)s, %(Leisure_and_Hospitality_m6)s), (%(date_m7)s, %(Goods_Producing_m7)s, %(Professional_and_Business_Services_m7)s, %(Education_and_Health_Services_m7)s, %(Government_m7)s, %(Leisure_and_Hospitality_m7)s), (%(date_m8)s, %(Goods_Producing_m8)s, %(Professional_and_Business_Services_m8)s, %(Education_and_Health_Services_m8)s, %(Government_m8)s, %(Leisure_and_Hospitality_m8)s), (%(date_m9)s, %(Goods_Producing_m9)s, %(Professional_and_Business_Services_m9)s, %(Education_and_Health_Services_m9)s, %(Government_m9)s, %(Leisure_and_Hospitality_m9)s), (%(date_m10)s, %(Goods_Producing_m10)s, %(Professional_and_Business_Services_m10)s, %(Education_and_Health_Services_m10)s, %(Government_m10)s, %(Leisure_and_Hospitality_m10)s), (%(date_m11)s, %(Goods_Producing_m11)s, %(Professional_and_Business_Services_m11)s, %(Education_and_Health_Services_m11)s, %(Government_m11)s, %(Leisure_and_Hospitality_m11)s), (%(date_m12)s, %(Goods_Producing_m12)s, %(Professional_and_Business_Services_m12)s, %(Education_and_Health_Services_m12)s, %(Government_m12)s, %(Leisure_and_Hospitality_m12)s), (%(date_m13)s, %(Goods_Producing_m13)s, %(Professional_and_Business_Services_m13)s, %(Education_and_Health_Services_m13)s, %(Government_m13)s, %(Leisure_and_Hospitality_m13)s), (%(date_m14)s, %(Goods_Producing_m14)s, %(Professional_and_Business_Services_m14)s, %(Education_and_Health_Services_m14)s, %(Government_m14)s, %(Leisure_and_Hospitality_m14)s), (%(date_m15)s, %(Goods_Producing_m15)s, %(Professional_and_Business_Services_m15)s, %(Education_and_Health_Services_m15)s, %(Government_m15)s, %(Leisure_and_Hospitality_m15)s), (%(date_m16)s, %(Goods_Producing_m16)s, %(Professional_and_Business_Services_m16)s, %(Education_and_Health_Services_m16)s, %(Government_m16)s, %(Leisure_and_Hospitality_m16)s), (%(date_m17)s, %(Goods_Producing_m17)s, %(Professional_and_Business_Services_m17)s, %(Education_and_Health_Services_m17)s, %(Government_m17)s, %(Leisure_and_Hospitality_m17)s), (%(date_m18)s, %(Goods_Producing_m18)s, %(Professional_and_Business_Services_m18)s, %(Education_and_Health_Services_m18)s, %(Government_m18)s, %(Leisure_and_Hospitality_m18)s), (%(date_m19)s, %(Goods_Producing_m19)s, %(Professional_and_Business_Services_m19)s, %(Education_and_Health_Services_m19)s, %(Government_m19)s, %(Leisure_and_Hospitality_m19)s), (%(date_m20)s, %(Goods_Producing_m20)s, %(Professional_and_Business_Services_m20)s, %(Education_and_Health_Services_m20)s, %(Government_m20)s, %(Leisure_and_Hospitality_m20)s), (%(date_m21)s, %(Goods_Producing_m21)s, %(Professional_and_Business_Services_m21)s, %(Education_and_Health_Services_m21)s, %(Government_m21)s, %(Leisure_and_Hospitality_m21)s), (%(date_m22)s, %(Goods_Producing_m22)s, %(Professional_and_Business_Services_m22)s, %(Education_and_Health_Services_m22)s, %(Government_m22)s, %(Leisure_and_Hospitality_m22)s), (%(date_m23)s, %(Goods_Producing_m23)s, %(Professional_and_Business_Services_m23)s, %(Education_and_Health_Services_m23)s, %(Government_m23)s, %(Leisure_and_Hospitality_m23)s), (%(date_m24)s, %(Goods_Producing_m24)s, %(Professional_and_Business_Services_m24)s, %(Education_and_Health_Services_m24)s, %(Government_m24)s, %(Leisure_and_Hospitality_m24)s), (%(date_m25)s, %(Goods_Producing_m25)s, %(Professional_and_Business_Services_m25)s, %(Education_and_Health_Services_m25)s, %(Government_m25)s, %(Leisure_and_Hospitality_m25)s), (%(date_m26)s, %(Goods_Producing_m26)s, %(Professional_and_Business_Services_m26)s, %(Education_and_Health_Services_m26)s, %(Government_m26)s, %(Leisure_and_Hospitality_m26)s), (%(date_m27)s, %(Goods_Producing_m27)s, %(Professional_and_Business_Services_m27)s, %(Education_and_Health_Services_m27)s, %(Government_m27)s, %(Leisure_and_Hospitality_m27)s), (%(date_m28)s, %(Goods_Producing_m28)s, %(Professional_and_Business_Services_m28)s, %(Education_and_Health_Services_m28)s, %(Government_m28)s, %(Leisure_and_Hospitality_m28)s), (%(date_m29)s, %(Goods_Producing_m29)s, %(Professional_and_Business_Services_m29)s, %(Education_and_Health_Services_m29)s, %(Government_m29)s, %(Leisure_and_Hospitality_m29)s), (%(date_m30)s, %(Goods_Producing_m30)s, %(Professional_and_Business_Services_m30)s, %(Education_and_Health_Services_m30)s, %(Government_m30)s, %(Leisure_and_Hospitality_m30)s), (%(date_m31)s, %(Goods_Producing_m31)s, %(Professional_and_Business_Services_m31)s, %(Education_and_Health_Services_m31)s, %(Government_m31)s, %(Leisure_and_Hospitality_m31)s), (%(date_m32)s, %(Goods_Producing_m32)s, %(Professional_and_Business_Services_m32)s, %(Education_and_Health_Services_m32)s, %(Government_m32)s, %(Leisure_and_Hospitality_m32)s), (%(date_m33)s, %(Goods_Producing_m33)s, %(Professional_and_Business_Services_m33)s, %(Education_and_Health_Services_m33)s, %(Government_m33)s, %(Leisure_and_Hospitality_m33)s), (%(date_m34)s, %(Goods_Producing_m34)s, %(Professional_and_Business_Services_m34)s, %(Education_and_Health_Services_m34)s, %(Government_m34)s, %(Leisure_and_Hospitality_m34)s), (%(date_m35)s, %(Goods_Producing_m35)s, %(Professional_and_Business_Services_m35)s, %(Education_and_Health_Services_m35)s, %(Government_m35)s, %(Leisure_and_Hospitality_m35)s), (%(date_m36)s, %(Goods_Producing_m36)s, %(Professional_and_Business_Services_m36)s, %(Education_and_Health_Services_m36)s, %(Government_m36)s, %(Leisure_and_Hospitality_m36)s), (%(date_m37)s, %(Goods_Producing_m37)s, %(Professional_and_Business_Services_m37)s, %(Education_and_Health_Services_m37)s, %(Government_m37)s, %(Leisure_and_Hospitality_m37)s), (%(date_m38)s, %(Goods_Producing_m38)s, %(Professional_and_Business_Services_m38)s, %(Education_and_Health_Services_m38)s, %(Government_m38)s, %(Leisure_and_Hospitality_m38)s), (%(date_m39)s, %(Goods_Producing_m39)s, %(Professional_and_Business_Services_m39)s, %(Education_and_Health_Services_m39)s, %(Government_m39)s, %(Leisure_and_Hospitality_m39)s), (%(date_m40)s, %(Goods_Producing_m40)s, %(Professional_and_Business_Services_m40)s, %(Education_and_Health_Services_m40)s, %(Government_m40)s, %(Leisure_and_Hospitality_m40)s), (%(date_m41)s, %(Goods_Producing_m41)s, %(Professional_and_Business_Services_m41)s, %(Education_and_Health_Services_m41)s, %(Government_m41)s, %(Leisure_and_Hospitality_m41)s), (%(date_m42)s, %(Goods_Producing_m42)s, %(Professional_and_Business_Services_m42)s, %(Education_and_Health_Services_m42)s, %(Government_m42)s, %(Leisure_and_Hospitality_m42)s), (%(date_m43)s, %(Goods_Producing_m43)s, %(Professional_and_Business_Services_m43)s, %(Education_and_Health_Services_m43)s, %(Government_m43)s, %(Leisure_and_Hospitality_m43)s)'] [parameters: {'date_m0': '2017Q4', 'Goods_Producing_m0': 525000.0, 'Professional_and_Business_Services_m0': 804100.0, 'Education_and_Health_Services_m0': 559800.0, 'Government_m0': 594700.0, 'Leisure_and_Hospitality_m0': 502200.0, 'date_m1': '2017Q3', 'Goods_Producing_m1': 520700.0, 'Professional_and_Business_Services_m1': 802400.0, 'Education_and_Health_Services_m1': 552700.0, 'Government_m1': 582100.0, 'Leisure_and_Hospitality_m1': 514900.0, 'date_m2': '2017Q2', 'Goods_Producing_m2': 510000.0, 'Professional_and_Business_Services_m2': 789900.0, 'Education_and_Health_Services_m2': 552900.0, 'Government_m2': 598300.0, 'Leisure_and_Hospitality_m2': 503100.0, 'date_m3': '2017Q1', 'Goods_Producing_m3': 496800.0, 'Professional_and_Business_Services_m3': 767200.0, 'Education_and_Health_Services_m3': 546400.0, 'Government_m3': 594400.0, 'Leisure_and_Hospitality_m3': 475100.0, 'date_m4': '2016Q4', 'Goods_Producing_m4': 504300.0, 'Professional_and_Business_Services_m4': 782100.0, 'Education_and_Health_Services_m4': 549600.0, 'Government_m4': 595900.0, 'Leisure_and_Hospitality_m4': 483700.0, 'date_m5': '2016Q3', 'Goods_Producing_m5': 505800.0, 'Professional_and_Business_Services_m5': 784100.0, 'Education_and_Health_Services_m5': 549700.0, 'Government_m5': 576000.0, 'Leisure_and_Hospitality_m5': 502000.0, 'date_m6': '2016Q2', 'Goods_Producing_m6': 498600.0, 'Professional_and_Business_Services_m6': 770900.0, 'Education_and_Health_Services_m6': 549500.0, 'Government_m6': 591900.0, 'Leisure_and_Hospitality_m6': 487300.0, 'date_m7': '2016Q1', 'Goods_Producing_m7': 487400.0, 'Professional_and_Business_Services_m7': 751800.0, 'Education_and_Health_Services_m7': 542800.0, 'Government_m7': 581600.0, 'Leisure_and_Hospitality_m7': 461300.0, 'date_m8': '2015Q4', 'Goods_Producing_m8': 494300.0, 'Professional_and_Business_Services_m8': 764300.0, 'Education_and_Health_Services_m8': 542800.0, 'Government_m8': 585800.0, 'Leisure_and_Hospitality_m8': 468000.0, 'date_m9': '2015Q3', 'Goods_Producing_m9': 495800.0, 'Professional_and_Business_Services_m9': 763900.0, 'Education_and_Health_Services_m9': 532000.0, 'Government_m9': 562600.0, 'Leisure_and_Hospitality_m9': 484100.0, 'date_m10': '2015Q2', 'Goods_Producing_m10': 487800.0, 'Professional_and_Business_Services_m10': 753100.0, 'Education_and_Health_Services_m10': 529800.0, 'Government_m10': 578300.0, 'Leisure_and_Hospitality_m10': 469900.0, 'date_m11': '2015Q1', 'Goods_Producing_m11': 475900.0, 'Professional_and_Business_Services_m11': 733700.0, 'Education_and_Health_Services_m11': 521500.0, 'Government_m11': 565700.0, 'Leisure_and_Hospitality_m11': 439600.0, 'date_m12': '2014Q4', 'Goods_Producing_m12': 481100.0, 'Professional_and_Business_Services_m12': 743900.0, 'Education_and_Health_Services_m12': 516200.0, 'Government_m12': 573800.0, 'Leisure_and_Hospitality_m12': 445900.0, 'date_m13': '2014Q3', 'Goods_Producing_m13': 479700.0, 'Professional_and_Business_Services_m13': 740600.0, 'Education_and_Health_Services_m13': 504800.0, 'Government_m13': 543000.0, 'Leisure_and_Hospitality_m13': 462500.0, 'date_m14': '2014Q2', 'Goods_Producing_m14': 464800.0, 'Professional_and_Business_Services_m14': 722400.0, 'Education_and_Health_Services_m14': 502200.0, 'Government_m14': 561700.0, 'Leisure_and_Hospitality_m14': 449200.0, 'date_m15': '2014Q1', 'Goods_Producing_m15': 443200.0, 'Professional_and_Business_Services_m15': 699700.0, 'Education_and_Health_Services_m15': 493200.0, 'Government_m15': 552300.0, 'Leisure_and_Hospitality_m15': 420000.0, 'date_m16': '2013Q4', 'Goods_Producing_m16': 446700.0, 'Professional_and_Business_Services_m16': 712300.0, 'Education_and_Health_Services_m16': 491500.0, 'Government_m16': 563500.0, 'Leisure_and_Hospitality_m16': 427000.0, 'date_m17': '2013Q3', 'Goods_Producing_m17': 443800.0, 'Professional_and_Business_Services_m17': 709400.0, 'Education_and_Health_Services_m17': 480700.0, 'Government_m17': 538400.0, 'Leisure_and_Hospitality_m17': 441900.0, 'date_m18': '2013Q2', 'Goods_Producing_m18': 430100.0, 'Professional_and_Business_Services_m18': 698400.0, 'Education_and_Health_Services_m18': 477000.0, 'Government_m18': 554300.0, 'Leisure_and_Hospitality_m18': 429600.0, 'date_m19': '2013Q1', 'Goods_Producing_m19': 413100.0, 'Professional_and_Business_Services_m19': 676700.0, 'Education_and_Health_Services_m19': 470700.0, 'Government_m19': 541400.0, 'Leisure_and_Hospitality_m19': 401300.0, 'date_m20': '2012Q4', 'Goods_Producing_m20': 420200.0, 'Professional_and_Business_Services_m20': 686700.0, 'Education_and_Health_Services_m20': 468100.0, 'Government_m20': 546300.0, 'Leisure_and_Hospitality_m20': 409400.0, 'date_m21': '2012Q3', 'Goods_Producing_m21': 418800.0, 'Professional_and_Business_Services_m21': 680600.0, 'Education_and_Health_Services_m21': 459600.0, 'Government_m21': 525700.0, 'Leisure_and_Hospitality_m21': 423900.0, 'date_m22': '2012Q2', 'Goods_Producing_m22': 407600.0, 'Professional_and_Business_Services_m22': 667400.0, 'Education_and_Health_Services_m22': 458600.0, 'Government_m22': 547700.0, 'Leisure_and_Hospitality_m22': 413600.0, 'date_m23': '2012Q1', 'Goods_Producing_m23': 391700.0, 'Professional_and_Business_Services_m23': 642000.0, 'Education_and_Health_Services_m23': 454900.0, 'Government_m23': 534000.0, 'Leisure_and_Hospitality_m23': 384700.0, 'date_m24': '2011Q4', 'Goods_Producing_m24': 401600.0, 'Professional_and_Business_Services_m24': 648800.0, 'Education_and_Health_Services_m24': 452400.0, 'Government_m24': 540200.0, 'Leisure_and_Hospitality_m24': 393300.0, 'date_m25': '2011Q3', 'Goods_Producing_m25': 405200.0, 'Professional_and_Business_Services_m25': 645000.0, 'Education_and_Health_Services_m25': 444100.0, 'Government_m25': 521600.0, 'Leisure_and_Hospitality_m25': 410900.0, 'date_m26': '2011Q2', 'Goods_Producing_m26': 395500.0, 'Professional_and_Business_Services_m26': 636700.0, 'Education_and_Health_Services_m26': 441900.0, 'Government_m26': 544800.0, 'Leisure_and_Hospitality_m26': 399600.0, 'date_m27': '2011Q1', 'Goods_Producing_m27': 378900.0, 'Professional_and_Business_Services_m27': 613700.0, 'Education_and_Health_Services_m27': 437100.0, 'Government_m27': 533200.0, 'Leisure_and_Hospitality_m27': 373900.0, 'date_m28': '2010Q4', 'Goods_Producing_m28': 393600.0, 'Professional_and_Business_Services_m28': 621100.0, 'Education_and_Health_Services_m28': 435600.0, 'Government_m28': 542100.0, 'Leisure_and_Hospitality_m28': 384600.0, 'date_m29': '2010Q3', 'Goods_Producing_m29': 400400.0, 'Professional_and_Business_Services_m29': 622300.0, 'Education_and_Health_Services_m29': 428500.0, 'Government_m29': 522800.0, 'Leisure_and_Hospitality_m29': 398500.0, 'date_m30': '2010Q2', 'Goods_Producing_m30': 394300.0, 'Professional_and_Business_Services_m30': 615700.0, 'Education_and_Health_Services_m30': 427500.0, 'Government_m30': 545200.0, 'Leisure_and_Hospitality_m30': 386400.0, 'date_m31': '2010Q1', 'Goods_Producing_m31': 383000.0, 'Professional_and_Business_Services_m31': 595000.0, 'Education_and_Health_Services_m31': 422100.0, 'Government_m31': 528300.0, 'Leisure_and_Hospitality_m31': 360000.0, 'date_m32': '2009Q4', 'Goods_Producing_m32': 405200.0, 'Professional_and_Business_Services_m32': 608600.0, 'Education_and_Health_Services_m32': 420500.0, 'Government_m32': 536200.0, 'Leisure_and_Hospitality_m32': 372100.0, 'date_m33': '2009Q3', 'Goods_Producing_m33': 418900.0, 'Professional_and_Business_Services_m33': 611500.0, 'Education_and_Health_Services_m33': 413500.0, 'Government_m33': 516300.0, 'Leisure_and_Hospitality_m33': 392300.0, 'date_m34': '2009Q2', 'Goods_Producing_m34': 421500.0, 'Professional_and_Business_Services_m34': 615600.0, 'Education_and_Health_Services_m34': 412700.0, 'Government_m34': 536400.0, 'Leisure_and_Hospitality_m34': 384000.0, 'date_m35': '2009Q1', 'Goods_Producing_m35': 431300.0, 'Professional_and_Business_Services_m35': 616100.0, 'Education_and_Health_Services_m35': 409400.0, 'Government_m35': 526000.0, 'Leisure_and_Hospitality_m35': 362700.0, 'date_m36': '2008Q4', 'Goods_Producing_m36': 473700.0, 'Professional_and_Business_Services_m36': 648400.0, 'Education_and_Health_Services_m36': 410000.0, 'Government_m36': 533000.0, 'Leisure_and_Hospitality_m36': 381700.0, 'date_m37': '2008Q3', 'Goods_Producing_m37': 492700.0, 'Professional_and_Business_Services_m37': 660800.0, 'Education_and_Health_Services_m37': 401100.0, 'Government_m37': 513600.0, 'Leisure_and_Hospitality_m37': 405300.0, 'date_m38': '2008Q2', 'Goods_Producing_m38': 490100.0, 'Professional_and_Business_Services_m38': 656500.0, 'Education_and_Health_Services_m38': 399200.0, 'Government_m38': 525000.0, 'Leisure_and_Hospitality_m38': 400500.0, 'date_m39': '2008Q1', 'Goods_Producing_m39': 480300.0, 'Professional_and_Business_Services_m39': 638300.0, 'Education_and_Health_Services_m39': 393800.0, 'Government_m39': 513800.0, 'Leisure_and_Hospitality_m39': 375700.0, 'date_m40': '2007Q4', 'Goods_Producing_m40': 497100.0, 'Professional_and_Business_Services_m40': 648200.0, 'Education_and_Health_Services_m40': 391800.0, 'Government_m40': 518900.0, 'Leisure_and_Hospitality_m40': 386200.0, 'date_m41': '2007Q3', 'Goods_Producing_m41': 504500.0, 'Professional_and_Business_Services_m41': 649200.0, 'Education_and_Health_Services_m41': 383700.0, 'Government_m41': 499400.0, 'Leisure_and_Hospitality_m41': 400100.0, 'date_m42': '2007Q2', 'Goods_Producing_m42': 495200.0, 'Professional_and_Business_Services_m42': 634700.0, 'Education_and_Health_Services_m42': 382900.0, 'Government_m42': 513300.0, 'Leisure_and_Hospitality_m42': 391000.0, 'date_m43': '2007Q1', 'Goods_Producing_m43': 476400.0, 'Professional_and_Business_Services_m43': 609800.0, 'Education_and_Health_Services_m43': 377300.0, 'Government_m43': 503200.0, 'Leisure_and_Hospitality_m43': 364600.0}] (Background on this error at: http://sqlalche.me/e/9h9h)

In [400]:
Denver_Metro_Year.to_sql("denver_metro_years",engine,if_exists="append")